@import url(assets/fonts/static/WorkSans-Regular.ttf);
html {
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* bloque le scroll vertical */
    font-family: 'Work Sans', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh; /* hauteur pleine fenêtre */
    width: 100vw; /* largeur pleine fenêtre */
}
.top {
    height: 70%; /* un tiers */
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-position: center;
    object-fit: contain;
    background-size: cover;
}
.bottom {
    height: 100%;
    background-color: hsl(275, 100%, 97%);
}
.contentbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;     /* Ne dépasse jamais la largeur du parent */
    max-height: 100vh;   /* Ne dépasse pas la hauteur de l'écran */
    border-radius: 10px;
    padding: 0 20px 20px 20px;
    width: 280px;
    height: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3) ;
}
.titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-weight: 700;
}
.soustitre {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 9.5px;
}
.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    color: grey;
    line-height: 15px;
}

img {
    width: 20px;
    height: 20px;
    text-align: center;
}
.imagetext{
    margin-left: auto;
}
.choix:hover {
    color: hsl(292, 16%, 49%);
    background-color: #f1f2f3;
    box-shadow: 0 4px 4px 8px rgba(243, 240, 240, 0.3) ;
    
}
.reponse {
  background-color: #f9f9f9;
  padding: 12px 20px;
  border-left: 4px solid #007BFF;
  font-style: italic;
  margin-bottom: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

